

<% @search.cards.each do |card| %>
  <p>Name: <%= card.name %></p>
  <p>Artist: <%= card.artist %></p>
  <p>Text: <%= card.text %></p>
  <p>Mana Cost: <%= card.mana_cost %></p>
  <p>Power: <%= card.power %></p>
  <p>Toughness: <%= card.toughness %></p>
  <p>CMC: <%= card.cmc %></p>
  <p>Rarity: <%= card.rarity.name %></p>
  <p>Type: <%= card.type.name %></p>
  <p>Color: <%= card.color.name %></p>
  <% end %>
