<style>
    #card {
      border: solid;
      max-width: 25em;
      margin-bottom: 1em;
      margin-left: 25em;
      background-color: papayawhip;
      color: black;
      margin-top: 1em;
      border-radius: 2em;
      }

      button {
        border-radius: 12%;
        }
</style>
<% @search.cards.each_with_index do |card, i| %>
<div id="card" class="table-row">
  <p>Name: <%= card.name %></p>
  <p>Artist: <%= card.artist %></p>
  <button id="text_button" data="<%= card.text %>" data-toggle="collapse" data-target="#demo<%= i %>">Text</button>
  <div id="demo<%=i%>" class="collapse">
  <p><%= card.text %></p>
  </div>

  <p>Mana Cost: <%= card.mana_cost %></p>
  <p>Power: <%= card.power %></p>
  <p>Toughness: <%= card.toughness %></p>
  <p>CMC: <%= card.cmc %></p>
  <p>Rarity: <%= card.rarity %></p>
  <p>Type: <%= card.type %></p>
  <% if card.colors.nil? %>
    <p>Color: <%= card.colors %></p>
  <% else %>
    <% card.colors.each do |color| %>
      <p>Color: <%= color %></p>
    <% end %>
  <% end %>
  </div>
<% end %>
